:root {
  --very-lightgreen: #D0E7D2;
  --darkgreen: #618264;
  --lightgreen: #B0D9B1;
  --whitegreen: #f5f9f0;
  --yellow: rgb(245, 245, 59);
  --darkyellow: rgb(232, 232, 6);
  --error-mes-bg: #F2DEDE;
  --error-mes-txt: #A94442;
  --success-mes-bg: #D4EDDA;
  --success-mes-txt: #40754C;;
}
/* HEADER */
.header {
  background-color: var(--lightgreen);
  height: 60px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.header .left-section {
  height: 100%;
  width: fit-content;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .left-section img {
  width: fit-content;
  height: 45px;
}
/* END OF HEADER */

/* MAIN */
.main-main {
  height: calc(100vh - 60px);
  padding-top: 60px;
  background-color: rgb(247, 245, 245);
}

.main-main .main{
  display: grid;
  grid-template-rows: 100px 1fr;
}

/* UPPER TITLE */
.main-main .main .title {
  margin-left: 70px;
  margin-right: 70px;
}

.main-main .main .title div:nth-child(1) {
  margin-top: 23px;
  font-size: 30px;
  font-weight: 700;
}

.main-main .main .title div:nth-child(2) {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(96, 96, 96);
}

/* ACCOUNT SETTING */
.main-main .main .account-setting {
  display: grid;
  grid-template-columns: 300px 1fr;


  box-shadow: 0px 0px 4px rgba(0, 0, 0, .10);
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 16px;
  border-radius: 10px;
}

/* ACCOUNTING SETTING MENU */
.main-main .main .account-setting .menu {
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}
.main-main .main .account-setting .menu div:nth-child(1),
.main-main .main .account-setting .menu div:nth-child(2) {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 500;
}

.main-main .main .account-setting .menu div:nth-child(1) a{
  padding: 10px 60px;
  border-radius: 4px;
  transition: all 0.15s;
}

.main-main .main .account-setting .menu div:hover a {
  background-color: rgb(214, 213, 213);
}

.main-main .main .account-setting .menu div:active a {
  background-color: rgb(230, 228, 228);
}


.main-main .main .account-setting .menu div:nth-child(2) a{
  padding: 10px 52px;
  border-radius: 4px;
  transition: all 0.15s;
}

/* ACCOUNT SETTING PROFILE PICTURE */
.main-main .main .account-setting .container {
  background-color: white;
  border-left: 2px solid rgb(247, 245, 245);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 165px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .account-setting .container .image img {
    border: 5px solid rgb(162, 162, 162);
    border-radius: 200px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.main .account-setting .container .image {
  margin-top: 13px;
}

.main-main .main .account-setting .container .update-image {
  margin-top: 20px;
}

.main-main .main .account-setting .update-image .buttonUpload {
  display: flex;
  justify-content: center;
 }
.main-main .main .account-setting .update-image .buttonUpload .box {
  border-radius: 6px;
  width: 100px;
  height: 40px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgb(240, 240, 240);
  transition: all 0.15s;
 }

 .main-main .main .account-setting .update-image .buttonUpload .box:hover {
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
  opacity: 0.7;
 }

 .main-main .main .account-setting .update-image .buttonUpload .box:active {
  opacity: 0.4;
 }
 .main-main .main .account-setting .update-image .buttonUpload label {
  font-size: 18px;
  background-color: transparent;
  padding: 40px;
  color: black;
  cursor: pointer;
 }

 .main-main .main .account-setting .update-image .buttonUpload .box input {
  display: none;
 }

 .main-main .main .account-setting .update-image .buttonUpload button {
  margin-left: 40px;
  width: 100px;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background: var(--yellow);
  cursor: pointer;
  transition: background-color 0.15s;
 }

 .main-main .main .account-setting .update-image .buttonUpload button:hover {
  background-color: var(--darkyellow);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
 }
 .main-main .main .account-setting .update-image .buttonUpload button:active {
  opacity: 0.7;
 }

 .main-main .main .account-setting .update-image .back {
  position: absolute;
  right: 20px;
  bottom: 20px;

 }
 .main-main .main .account-setting .update-image .back a button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
 }

 .main-main .main .account-setting .update-image .back a button:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
 }

.error {
  background-color: var(--error-mes-bg);
  color: var(--error-mes-txt);
  padding: 10px 13px;
  border-radius: 6px;
  width: fit-content;
  margin-top: 10px;
  text-align: center;
}

.Username_Success {
  background-color: var(--success-mes-bg);
  color: var(--success-mes-txt);
  padding: 10px 13px;
  border-radius: 6px;
  width: fit-content;
  margin-top: 10px;
  text-align: center;
  margin-left: 30px;
}
   

