:root {
  --very-lightgreen: #D0E7D2;
  --darkgreen: #618264;
  --lightgreen: #B0D9B1;
  --whitegreen: #f5f9f0;
  --yellow: rgb(245, 245, 59);
  --darkyellow: rgb(232, 232, 6);
  --error-mes-bg: #F2DEDE;
  --error-mes-txt: #A94442;
  --success-mes-bg: #D4EDDA;
  --success-mes-txt: #40754C;
  --dirty-white-bg: rgb(247, 245, 245);
  --btn-white: rgb(240, 240, 240);
}

/* HEADER */
.header {
  background-color: var(--lightgreen);
  height: 60px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .left-section {
  height: 100%;
  width: fit-content;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .left-section img {
  width: fit-content;
  height: 45px;
}
/* END OF HEADER */


.header .right-section {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.header .right-section .add-to-cart {
  margin-right: 60px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.15s;
}

.header .right-section .add-to-cart img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.header .right-section .add-to-cart:hover {
  opacity: 0.8;
}

.header .right-section .add-num {
  border: 1px solid var(--darkgreen);
  text-align: center;
  background-color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 54px;
}

