:root {
  --very-lightgreen: #D0E7D2;
  --darkgreen: #618264;
  --lightgreen: #B0D9B1;
  --whitegreen: #f5f9f0;
  --yellow: rgb(245, 245, 59);
  --darkyellow: rgb(232, 232, 6);
  --error-mes-bg: #F2DEDE;
  --error-mes-txt: #A94442;
  --success-mes-bg: #D4EDDA;
  --success-mes-txt: #40754C;;
  --yellowhover: rgba(255, 255, 0, 0.459);
}

/* RESET */

body {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

li {
 list-style: none; 
}

/* MAIN */
.main {
  height: 100vh;
}

/* HOME SECTION */
#home-section {
  height: 100vh;
  background-color: rgb(249, 249, 249);
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 60px;
  background-color: var(--lightgreen);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* LEFT SECTION */
.main #home-section .navbar .left-section {

  margin-left: 60px;
  display: flex;
  align-self: center;
  justify-self: center;
}




.main #home-section .navbar .left-section img {
  width: fit-content;
  height: 45px;
}

/* RIGHT SECTION */
.main #home-section .navbar .right-section {
  display: flex;
  margin-right: 60px;
}

.main #home-section .navbar .right-section li a {
  padding: 0 7px;
  color: var(--darkgreen);
  display: block;
  line-height: 60px;
  width: 80px;
  display: flex;
  justify-content: center;
  transition: all ease-in-out 0.10s;
}




/* ACCOUNT SETTING LOGO */
.main #home-section .navbar .right-section .account-settings {
  width: 60px;
  height: 100%;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main #home-section .navbar .right-section .account-settings .btn-acc {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: opacity 0.15s;
}

.main #home-section .navbar .right-section .account-settings .btn-acc img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  transition: opacity 0.15s;
}

.main #home-section .navbar .right-section .account-settings .btn-acc:hover {
  opacity: 0.7;
}

/* ADD TO CART LOGO */

.main #home-section .navbar .right-section .AddCart {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main #home-section .navbar .right-section .AddCart .add-to-cart {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.15s;
}

.main #home-section .navbar .right-section .AddCart .add-to-cart img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.main #home-section .navbar .right-section .AddCart .add-to-cart:hover {
  opacity: 0.8;
}




/* PROFILE SETTINGS CONTAINER */
.main #home-section .acc-box-container {
  width: fit-content;
  height: fit-content;
  padding: 20px 20px;
  background-color: rgb(241, 246, 242);
  border: none;
  border-radius: 4px;
  z-index: 1001;
  transition: transform 0.45s ease;
  transform: scale(0);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .25),
              -2px -2px 10px rgba(0, 0, 0, .25);

  position: fixed;
  top: 57px;
  right: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}


/* JS POP UP */
.main #home-section .acc-box-container.active-popup {
  transform: scale(1);
}

.main #home-section .acc-box-container .cancel {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #000;
  width: 100%;
  display: flex;
  padding: 3px 4px;
  cursor: pointer;
}

span {
  width: 100%;
  background-color: rgb(139, 137, 137);
  height: 0.01rem;
  margin: 3px 0;
}

.main #home-section .acc-box-container a {
  width: 100%;
  padding: 3px 4px;
  border-radius: 2px;
  color: #000;
}
.main #home-section .acc-box-container a:hover,
.main #home-section .acc-box-container .cancel:hover {
  opacity: 0.7;
}

.main #home-section .navbar .right-section .navv:hover {
  color: var(--very-lightgreen);
  background-color: var(--darkgreen);
}

.special {
  color: var(--very-lightgreen);
  background-color: var(--darkgreen);
}
