
:root {
  --very-lightgreen: #D0E7D2;
  --darkgreen: #618264;
  --lightgreen: #B0D9B1;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../pictures/hero-bg.jpg) url(../pictures/hero-bg-3.jpg) url(../pictures/hero-bg-5.jpg) url(../pictures/hero-bg-6.jpg);

}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

li {
 list-style: none; 
}

.main {
  height: 100vh;
}

#home-section {
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: var(--lightgreen);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.main #home-section .navbar .left-section {

  margin-left: 60px;
  display: flex;
  align-self: center;
  justify-self: center;
}


.main #home-section .navbar .left-section img {
  width: fit-content;
  height: 45px;
}

.main #home-section .navbar .right-section {
  display: flex;
  margin-right: 60px;
}

.main #home-section .navbar .right-section li a {
  padding: 0 7px;
  color: var(--darkgreen);
  display: block;
  line-height: 60px;
  width: 80px;
  display: flex;
  justify-content: center;
  transition: all ease-in-out 0.10s;
}

.main #home-section .navbar .right-section .account-settings {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}



.main #home-section .navbar .right-section .account-settings .btn-acc {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: opacity 0.15s;
}

.main #home-section .navbar .right-section .account-settings .btn-acc img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  transition: opacity 0.15s;
}

.main #home-section .navbar .right-section .account-settings .btn-acc:hover {
  opacity: 0.7;
}

.main #home-section .acc-box-container {
  width: fit-content;
  height: fit-content;
  padding: 20px 20px;
  background-color: rgb(241, 246, 242);
  border: none;
  border-radius: 4px;
  z-index: 1001;
  transition: transform 0.45s ease;
  transform: scale(0);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .25),
              -2px -2px 10px rgba(0, 0, 0, .25);

  position: fixed;
  top: 55px;
  right: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.main #home-section .acc-box-container.active-popup {
  transform: scale(1);
}

.main #home-section .acc-box-container .cancel {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #000;
  width: 100%;
  display: flex;
  padding: 3px 4px;
  cursor: pointer;
}

span {
  width: 100%;
  background-color: rgb(139, 137, 137);
  height: 0.01rem;
  margin: 3px 0;
}

.main #home-section .acc-box-container a {
  width: 100%;
  padding: 3px 4px;
  border-radius: 2px;
  color: #000;
}
.main #home-section .acc-box-container a:hover,
.main #home-section .acc-box-container .cancel:hover {
  opacity: 0.7;
}

.main #home-section .navbar .right-section a:hover {
  color: var(--very-lightgreen);
  background-color: var(--darkgreen);
}

.special {
  color: var(--very-lightgreen);
  background-color: var(--darkgreen);
}

.main #home-section .hero {
  width: 100%;
  height: calc(100vh - 60px);
  padding-top: 60px;
  display: grid;
  grid-template-rows: 65vh 1fr;
}

.dark-overlay {
  width: 100%;
  height: 65vh;
  background-color: black;
  z-index: 2;
  opacity: 0.2;
}

.main #home-section .hero .img {
  width: 100%;
  height: 100%;
  background-image: url(../pictures/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  animation: imgSlide 24s linear infinite;
  position: relative;
} 

@keyframes imgSlide {
  0%  {
    background-image: url(../pictures/hero-bg.jpg);
  }
  25%  {
    background-image: url(../pictures/hero-bg-3.jpg);
  }
  50%  {
    background-image: url(../pictures/hero-bg-6.jpg);
  }
  75%  {
    background-image: url(../pictures/hero-bg-5.jpg);
  }
  100%  {
    background-image: url(../pictures/hero-bg.jpg);
  }
}

.main #home-section .hero .img .slogan, .main #home-section .hero .img .greeting  {
  color: #fff;
  text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
  font-size: 33px;
  line-height: 50px;
  text-align: center;
  padding-bottom: 60px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main #home-section .hero .img .slogan {
  margin-top: 60px;
}



.main #home-section .hero .img .greeting {
  font-size: 50px;
  padding-bottom: 250px;
  text-transform: uppercase;
  font-weight: 300;
}


.main #home-section .hero .three-logo {
  display: grid;
  grid-template-columns: 1fr repeat(3,450px) 1fr;
}

.main #home-section .hero .three-logo .logo {
  display: flex;
}

.main #home-section .hero .three-logo .logo .paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 20px;
  margin: 0 15px;
}

.main #home-section .hero .three-logo .logo .title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.10);
}

.main #home-section .hero .three-logo .logo .sentence {
  font-size: 16px;
  font-weight: 300;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.10);
}

.main #home-section .hero .three-logo .logo:nth-child(2),
.main #home-section .hero .three-logo .logo:nth-child(3),
.main #home-section .hero .three-logo .logo:nth-child(4)
{
  display: flex;
  align-items: center;
}

.trusted-pic {
  width: fit-content;
  height: 120px;
  margin: 0 8px;
}

#products-section {
  height: 150vh;
  background-color: rgb(198, 196, 196);
  display: grid;
  grid-template-rows: 150px 1fr 1fr;
}

#products-section .search-section {
  background-color: lightblue;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  
  display: flex;
  align-items: end;
}
#products-section .search-section div {
  flex: 1;
}

#products-section .search-section .mid {
  margin-bottom: 20px;

  display: flex;
  max-width: 500px;
  flex: 1;
}

#products-section .search-section input {
  padding: 16px 10px;
  border: none;
  width: 100%;
  max-width: 360px;
  flex-shrink: 1;
  outline: none;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 30px;
}



#products-section .search-section button {
  flex-shrink: 0;
  padding: 7px 15px;
  border: none;
  overflow: hidden;
  background-color: rgb(245, 245, 59);
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  transition: all .15s;
}

#products-section .search-section button:hover {
  background-color: rgb(232, 232, 6);
}

#products-section .search-section button img {
  width: 30px;
  height: 30px;
}


#products-section .categories {
  font-size: 30px;
  font-weight: 500;
  margin-left: 30px;
  margin-bottom: 12px;
}


#products-section .category-section {
 
  margin-bottom: 100%;
  background-color: lightpink;
  display: grid;
  grid-template-columns: 1fr repeat(4, 170px) 1fr;
  grid-auto-rows: 120px;
  row-gap: 30px;
  column-gap: 50px;
}



#products-section .category-section div:nth-child(1) {
  grid-row: 1/2;
  grid-column: 2/3;
}
#products-section .category-section div:nth-child(2) {
  grid-row: 1/2;
  grid-column: 3/4;
}
#products-section .category-section div:nth-child(3) {
  grid-row: 1/2;
  grid-column: 4/5;
}
#products-section .category-section div:nth-child(4) {
  grid-row: 1/2;
  grid-column: 5/6;
}
#products-section .category-section div:nth-child(5) {
  grid-row: 1/2;
  grid-column: 6/7;
}
#products-section .category-section div:nth-child(6) {
  grid-row: 2/3;
  grid-column: 2/3;
}
#products-section .category-section div:nth-child(7) {
  grid-row: 2/3;
  grid-column: 3/4;
}
#products-section .category-section div:nth-child(8) {

  grid-row: 2/3;
  grid-column: 4/5;
}

#products-section .category-section div:nth-child(9) {

  grid-row: 2/3;
  grid-column: 5/6;
}

#products-section .category-section div:nth-child(10) {

  grid-row: 2/3;
  grid-column: 6/7;
}

#products-section .category-section div{
  border: 0.5px solid rgba(255, 255, 53, 0.549);
  border-radius: 4px;
}





#bidding-section {
  height: 100vh;
}

#contact-us-section {
  height: 100vh;
}

