:root {
  --very-lightgreen: #D0E7D2;
  --darkgreen: #618264;
  --lightgreen: #B0D9B1;
  --whitegreen: #f5f9f0;
  --yellow: rgb(245, 245, 59);
  --darkyellow: rgb(232, 232, 6);
  --error-mes-bg: #F2DEDE;
  --error-mes-txt: #A94442;
  --success-mes-bg: #D4EDDA;
  --success-mes-txt: #40754C;
  --dirty-white-bg: rgb(223, 223, 223);
  --btn-white: rgb(240, 240, 240);
}

/* MAIN */

.main {
  padding-top: 60px;
  height: calc(100vh - 60px);
  background-color: var(--darkgreen);
}

.main .container {
  border-radius: 4px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--dirty-white-bg);
  height: 80vh;
  margin: 30px;


  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* LEFT CONTAINER */
.main .container .image-cont {
  margin-right: 20px;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 50px;
  display: grid;
  grid-template-rows: 340px 1fr;
}

.main .container .image-cont .image img{
  border-radius: 2px;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .container .image-cont .description {
}

.main .container .image-cont .description .text-desc {
  font-size: 30px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 10px;
}

.main .container .image-cont .description .desc {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 300;
}
/* RIGHT CONTAINER */
.main .container .prod-info {
  margin-left: 20px;
  margin-top: 50px;
  margin-right: 100px;
  margin-bottom: 50px;
  display: grid;
  grid-template-rows: 220px 1fr;
}


.main .container .prod-info .product-name-cont .prod-text-cont {
 display: grid;
 grid-template-rows: 2fr 1fr; 
}

.main .container .prod-info .product-name-cont .prod-text-cont .prod-name {
  font-size: 50px;
  font-weight: 700;
}

.main .container .prod-info .product-name-cont .prod-text-cont .prod-price {
  font-size: 30px;
  font-weight: 500;
  color: rgb(30, 30, 30);
}

.main .container .prod-info .product-name-cont .prod-text-cont .category-prod span {
  font-weight: 500;
}

.main .container .prod-info .product-name-cont .prod-text-cont .category-prod{
  margin-top: 10px;
  font-size: 20px;
}
.main .container .prod-info .product-name-cont .prod-text-cont .prod-price span {
  color: rgb(249, 21, 21);
}



/* BUTTONS */
.main .container .prod-info .buttons {
  display: flex;
  justify-content: start;
  align-items: start;
}

.main .container .prod-info .buttons .btn-add-cart {
  margin-right: 30px;
  color: black;
  padding: 9px;
  width: 140px;
  font-size: 15px;
  border-radius: 2px;
  border: 2px solid var(--lightgreen);
  background-color: #fff;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.main .container .prod-info .buttons .btn-add-cart:hover {
  background-color: var(--lightgreen);
}

.main .container .prod-info .buttons .btn-buy-now {
  border-radius: 2px;
  border: none;
  font-size: 15px;
  color: black;
  padding: 11px;
  width: 140px;
  cursor: pointer;
  background-color: var(--yellow);
  transition: all .15s ease-in-out;
}

.main .container .prod-info .buttons .btn-buy-now:hover {
  background-color: var(--darkyellow);
}






