:root {
  --very-lightgreen: #D0E7D2;
  --darkgreen: #618264;
  --lightgreen: #B0D9B1;
  --whitegreen: #f5f9f0;
  --yellow: rgb(245, 245, 59);
  --darkyellow: rgb(232, 232, 6);
  --error-mes-bg: #F2DEDE;
  --error-mes-txt: #A94442;
  --success-mes-bg: #D4EDDA;
  --success-mes-txt: #40754C;
  --light-gray: rgb(96, 96, 96);
}

/* HEADER */
.header {
  background-color: var(--lightgreen);
  height: 60px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.header .left-section {
  height: 100%;
  width: fit-content;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .left-section img {
  width: fit-content;
  height: 45px;
}
/* END OF HEADER */

/* MAIN */
.main {
  height: calc(100vh - 60px);
  background-color: rgb(247, 245, 245);
  padding-top: 60px;

}

/* TOP CONTAINER */
.main .title {
  background-color: rgb(247, 245, 245);
  margin-left: 60px;
  margin-top: 23px;
  margin-right: 60px;
}

.main .title .sub-title {
  font-size: 35px;
  font-weight: 700;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.main .title .sub-title span {
  color: var(--darkgreen);
}

/* BOTTOM CONTAINER */
.main .container {
  background-color: #fff;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
  margin-bottom: 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .10);
  

  display: grid;
  grid-template-rows: 80px 1fr 80px ;
}

.main .container .upper-line {
  height: 0.5px;
  width: 80%;
  background-color: rgb(186, 182, 182);
  display: flex;
  align-self: flex-end;
  justify-self: center;
  margin-bottom: 20px;
}

.main .container .lower-line {
  height: 0.5px;
  width: 80%;
  background-color: rgb(186, 182, 182);
  display: flex;
  align-self: flex-start;
  justify-self: center;
  margin-top: 20px;
}

/* REGISTRATION */
.main .container .registration{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* LABELS 'n INPUTS */
.main .container .registration form .input {
  margin: 15px 0;
}

.main .container .registration form .input label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: rgb(96, 96, 96);
  display: flex;
  flex-direction: column;
}

.main .container .registration form .input input {
  padding: 12px 16px;
  width: 250px;
  font-size: 16px;
  border-radius: 6px;
  outline: none;
  border: 1px solid rgb(186, 182, 182);
}

.main .container .registration form .input:nth-child(3) input {
  width: 600px;
}




/* BUTTON SUBMIT */
.main .container .registration .submit {
  
  width: 100px;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background: var(--yellow);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.main .container .registration .submit:hover {
  background-color: var(--darkyellow);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
}

/* REMOVING NUMBER SCROLL BAR */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* BUTTON BACK */
.main .container .registration a{
  margin-left: 20px;
}

.main .container .registration  a {
 padding: 10px 30px;
 background-color: rgb(240, 240, 240);
 border-radius: 4px;
 text-decoration: none;
 color: black;
}

.main .container .registration a:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
}

/* SUCCESS created shop CSS */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.30);
  z-index: 2000;
  transition: all 0.15s ease-in-out;
}

.overlay .success-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 325px;
  height: 120px;
  background-color: white;
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
}

.overlay .success-container .text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 52px;
  font-size: 20px;
  color: var(--success-mes-txt);
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
}

.overlay .success-container .btn-ok {
  padding: 12px 24px;
  background-color: var(--lightgreen);
  border-radius: 4px;
  margin-right: 10px;
  transition: all .15s ease-in-out;
}

.overlay .success-container .btn-shop {
  padding: 10px 22px;
  border-radius: 4px;
  margin-left: 70px;
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  transition: all .15s ease-in-out;
}

.overlay .success-container .btn-shop:hover {
  background-color: transparent;
}

.overlay .success-container .btn-ok:hover {
  opacity: 0.7;
}